.break {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 15px;
}

.content {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.description {
    background-color: var(--white);
    border: 3px solid var(--black);
    height: 85vh;
    width: 25vw;
}

.page {
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 10px;
    height: 85vh;
    width: 70vw;
}