.break {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 15px;
}

.content {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    background-color: var(--white);
    border: 3px solid var(--black);
    border-radius: 10px;
    height: 75vh;
    width: 60vw;
}